
<!-- Main hero unit for a primary marketing message or call to action -->
<section id="slider">
  <div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
      <li>
        <a href="detail.html"><img src="demo/slider/large/6.jpg" alt="image06"/></a>
        <div class="ei-title">
          <h2>Passionate</h2>
          <h3>Seeker</h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/banner1.jpg" alt="image01" /></a>
        <div class="ei-title">
          <h2></h2>
          <h3></h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/2.jpg" alt="image02" /></a>
        <div class="ei-title">
          <h2>Friendly</h2>
          <h3>Devil</h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/3.jpg" alt="image03"/></a>
        <div class="ei-title">
          <h2>Tranquilent</h2>
          <h3>Compatriot</h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/4.jpg" alt="image04"/></a>
        <div class="ei-title">
          <h2>Insecure</h2>
          <h3>Hussler</h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/5.jpg" alt="image05"/></a>
        <div class="ei-title">
          <h2>Loving</h2>
          <h3>Rebel</h3>
        </div>
      </li>
      <li>
        <a href="detail.html"><img src="demo/slider/large/7.jpg" alt="image07"/></a>
        <div class="ei-title">
          <h2>Crazy</h2>
          <h3>Friend</h3>
        </div>
      </li>
    </ul><!-- ei-slider-large -->
    <ul class="ei-slider-thumbs">
      <li class="ei-slider-element">Current</li>
      <li><a href="#">Slide 6</a><img src="demo/slider/thumbs/6.jpg" alt="thumb06" /></li>
      <li><a href="#">Slide 1</a><img src="demo/slider/thumbs/1.jpg" alt="thumb01" /></li>
      <li><a href="#">Slide 2</a><img src="demo/slider/thumbs/2.jpg" alt="thumb02" /></li>
      <li><a href="#">Slide 3</a><img src="demo/slider/thumbs/3.jpg" alt="thumb03" /></li>
      <li><a href="#">Slide 4</a><img src="demo/slider/thumbs/4.jpg" alt="thumb04" /></li>
      <li><a href="#">Slide 5</a><img src="demo/slider/thumbs/5.jpg" alt="thumb05" /></li>
      <li><a href="#">Slide 7</a><img src="demo/slider/thumbs/7.jpg" alt="thumb07" /></li>
    </ul><!-- ei-slider-thumbs -->
  </div><!-- ei-slider -->
</section>

<!-- Feature products -->
<div class="row">
  <div class="span12">
    <div class="page-header promote_banner">
      <div class="row">
        <div class="span6">
          <div class="thumbnail">
            <a href="detail.html"><img src="demo/limit_offer.png" alt=""/></a>
          </div>
        </div>
        <div class="span6">
          <div class="thumbnail">
            <a href="detail.html"><img src="demo/free_delivery.png" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2><span class="orange">Latest</span> Products</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption">
            <h5>Thumbnail label</h5>
            <p><span class="rating-static rating-45"></span></p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-primary" href="detail.html"><i class="icon-shopping-cart icon-white"></i> $200 Buy</a> <a class="btn pull-right" href="detail.html">more...</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- / main container -->



