<!-- breadcrumb -->
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="#">Home</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="#">Camera</a> <span class="divider">/</span>
      </li>
      <li class="active">
        Canon
      </li>
    </ul>
  </div>
</div>